hr {
  border: 1px solid;
  width: 7.5rem;
  margin: 0px;
  margin-left: 1rem;
}

a {
  color: #a1a1a1;
  text-decoration: none !important;
}

a:hover {
  color: #d1d1d1;
}

iframe {
  border: 0;
  width: 18rem;
  height: 18rem;
}

@media only screen and (max-width: 700px) {
  iframe {
    width: 12rem;
    height: 12rem;
  }
}

.inner {
  margin: 5rem;
}

.title, .subtitle {
  font-family: 'Cantarell';
}

.content {
  font-family: 'Source Sans Pro';
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}